<h1>Liste du niveau d'activite</h1>

<table>
  <tr>
    <th>Activite</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sports.each do |sport| %>
  <tr>
    <td><%= sport.activite %></td>
    <td><%= link_to 'Voir', sport %></td>
    <td><%= link_to 'Retour', edit_sport_path(sport) %></td>
    <td><%= link_to 'Supprimer', sport, :confirm => 'Etes-vous sûr?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouveau niveau activite', new_sport_path %>
