<p id="notice"><%= notice %></p>

<p>
  <b>Age:</b>
  <%= @info.age %>
</p>

<p>
  <b>Taille:</b>
  <%= @info.taille %>
</p>


<%= link_to 'Modifier', edit_info_path(@info) %> |
<%= link_to 'Retour', infos_path %>
