<p id="notice"><%= notice %></p>

<p>
  <b>Age:</b>
  <%= @info.age %>
</p>

<p>
  <b>Taille:</b>
  <%= @info.taille %>
</p>

<p>
  <b>Pays:</b>
	<%= @info.country_id %>
	<%= @info.country.name%>
</p>



<p>
  <b>Sex:</b>
  <%= if @info.sexe == true
	"Male"
	else "Female"
	end		
%>
</p>

<%= link_to 'Modify', edit_info_path(@info) %> |
<%= link_to 'Back', root_path %>
